*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    #container{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #db36a4, #f7ff00); 
    }

    #page{
      width: 300px;
      height: auto;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      border-radius: 15px;
      padding: 50px 25px;
    }
    #signUp{
      display: none;
    }
    /* #login{
      display: none;
    } */

    #login h1, #signUp h1{
      text-align: center;
      color: #ec1414;
    }

    #login_frm, #signUp_frm{
      margin-top: 30px;
    }

    #login_email, #login_password, #username, #email, #password, #number{
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 10px 2px;
      margin-top: 20px;
      outline: none;
      color: #727272;
    }

    #login_btn, #signUp_btn {
      width: 100%;
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      margin-top: 30px;
      background: linear-gradient(to right, #db36a4, #f7ff00);

    }
    button:hover {
      opacity: 0.9;
    }

    #login p, #signUp p{
      margin-top: 20px;
      font-size: 14px;
      text-align: center;
      font-weight: 600;
    }

    #login span, #signUp span{
      color: blue;
      cursor: pointer;
      font-size: 16px;
    }

    #email_notice,#login_email_warning,#login_password_warning{
      color: red;
      margin-top: 10px;
      display: none;
    }